*{
    box-sizing: border-box;
    max-height: 90vh;
    
}
body{
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}

form {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:20px;
    padding-bottom: 35px;
}
input{
    border:1px solid #555;
    background-color: transparent;
    width: 100%;
    padding:10px;
    border-radius:20px;
    color:#fff;
}
.wrapper{
    margin-right: 2rem;
    margin-left: 2rem;
}
.bubble{
    border-radius: 20px;
    background-color:#444;
    margin:4px;
    padding: 5px 10px;
    display: inline-block;
    
}
.message-row.mine{
    text-align:right;
}
.message-row.mine .bubble{
    background-color: #07c;
}
button{
    position: relative;
    right:-97%;
    
    border: none;
    background:none;
    color: aqua;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    font-weight: 700;
    transform: translateY(-99%);
}
.copyrite{
    color: magenta;
    position:fixed;
    bottom:0;
   align-items: center;
    left:40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:20px;
}
button:hover{
    opacity: 2;
}
@media screen and (max-width:600px){
   button{
    right:-90%;
    transform: translateY(-104%);
   }
  
   .copyrite{
     
   }
}